@page
@model CAREier.Pages.Catalog.OrderCatalogModel
@{
}
<h1>List of Orders</h1>

<tbody>
    @foreach (var Ord in Model.Orders)
    {
    <tr>
        <td> @Ord.OrderID</td>
        <td> @Ord.TotalPrice.PriceDKK</td>
        <td> @Ord.TotalWeight.WeightKilo</td>
        <td> @Ord.CreationDate</td>
    </tr>

        }
</tbody>