@page "{id:int}"
@model CAREier.Pages.DetailedProductModel
@{
}

<h1>Product details</h1>

<div class="row">
    <div class="col-md-6">
        <img style="width: 70px; height: auto" src="~/images/@Model.Product.Picture" alt="picture">
    </div>
</div>