@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-4">
        <a asp-area="" asp-page="/Index"><img class="quarter-circle-img" style="width: 25vw; height: auto; border-radius: 50%;" src="~/images/Buyer_logo.png" alt="Buyer"></a>
    </div>

    <div class="col-4">
        <a asp-area="" asp-page="/Index"><img class="quarter-circle-img" style="width: 25vw; height: auto; border-radius: 50%;" src="~/images/Bringer_logo.png" alt="Bringer"></a>
    </div>

    <div class="col-4">
        <a asp-area="" asp-page="/Index"><img class="quarter-circle-img" style="width: 25vw; height: auto; border-radius: 50%;" src="~/images/Store_logo.png" alt="Store"></a>
    </div>
</div>