@page "{id:int}"
@model CAREier.Pages.LoginModel
@{
}

<h1>@Model.UserType Login</h1>



<div>


    <form method="post">
        <!--
    <div class="form-group">
        <label>Username</label>
        <input asp-for="//7@Model.Username" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input asp-for="//7@Model.Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <p>
        <input type="submit" value="login"/>
    </p>-->
    </form>
</div>